/__pycache__
/output
/plots
/.vscode
/problems_and_solutions_synth
/sinthetic_input
/problems_and_solutions
/problems_and_solutions_synth
/logs

*.smt
*.smt2
*.dot
*.svg
*.zip
*.json
*.pdf
*.png

fix_tsetsin.py

out.txt
tmp.txt

mathsat