__pycache__
*/__pycache__
/output
/plots
/.vscode
/examples
/problems_and_solutions_synth
/sinthetic_input
/problems_and_solutions
/problems_and_solutions_synth
/logs
/tabular_allsmt
/temp_*
/test_*
/utility
/ddnnf_reasoner
/ddnnife

tmp*

*.smt
*.smt2
*.dot
*.svg
*.zip
*.json
*.pdf
*.png
*.cnf
*.nnf
*.exist
*.dddmp
*.pickle
*.qvars
*.sdd
*.vtree

.env

out.txt
tmp.txt
tmp_data.txt
tool_options.txt
d4_options.txt
ddnnf_reasoner_commands.txt

mathsat
c2d_linux
d4
ddnnife
decdnnf_rs
ddnnf_condition
