__pycache__
*/__pycache__
/output
/plots
/.vscode
/examples
/problems_and_solutions_synth
/sinthetic_input
/problems_and_solutions
/problems_and_solutions_synth
/logs
/tabular_allsmt
/temp_*
/test_*
/utility

tmp*

*.smt
*.smt2
*.dot
*.svg
*.zip
*.json
*.pdf
*.png
*.cnf
*.nnf
*.exist
*.dddmp
*.pickle
*.qvars
*.sdd
*.vtree

.env

fix_tsetsin.py
fix_ddnnf.py
fix_extension.py

out.txt
tmp.txt
tmp_data.txt
tool_options.txt
d4_options.txt

mathsat
c2d_linux
d4